*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.header{
    display: flex;
    justify-content: start;
    line-height: 50px;
    height: 80px;
    background-color: black;
    padding: 0 0 0 40px;
}

.logo{
    color: white;
    margin: 0 60px 0 0;
    text-decoration: none;
}

.link{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}