.detalhe-container{
    max-width: 1200px;

    margin: 50px auto;

    padding: 30px;

    display: flex;

    gap: 50px;

    align-items: center;

    background-color: white;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}


/* IMAGEM */

.detalhe-imagem{
    flex: 1;

    display: flex;

    justify-content: center;
}


.detalhe-imagem img{
    width: 100%;

    max-width: 350px;

    height: 350px;

    object-fit: contain;
}


/* INFORMAÇÕES */

.detalhe-info{
    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 20px;
}


.detalhe-info h1{
    font-size: 38px;

    color: #222;

    line-height: 1.2;
}


.detalhe-info h2{
    color: green;

    font-size: 32px;
}


.detalhe-info p{
    color: #555;

    line-height: 1.7;

    font-size: 18px;
}


.detalhe-info small{
    color: #777;

    font-size: 16px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media(max-width: 768px){

    .detalhe-container{
        flex-direction: column;

        text-align: center;
    }

    .detalhe-info h1{
        font-size: 28px;
    }

}